
#all{
    background-color: #d9bfbf;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid cornflowerblue;
    
}
#all{
    text-align: center;
}
#header h1{
    color: red;
    margin: auto;
    width: 234px;


    background-color: yellow;
    
}
#title{
    border: 2px solid #cc0000;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 750px;
    background-color: #ccccff;
}

#pokemon1{
    width: 650px;
    border: 1.5px solid black;
    margin: auto;
    margin-bottom: 25px;
    
    
    
}
#pokemon2{
    width: 650px;
    border: 1.5px solid black;
    margin: auto;
    margin-bottom: 25px;
    
}
#pokemon3{
    width: 650px;
    border: 1.5px solid black;
    margin: auto;
    
}
#pic{
    display: inline-block;
    margin-right: 100px;
    margin-top: 10px;
    

}
#check{
    text-align: left;
    margin-left: 15px;
    margin-bottom: 10px;
}
#select{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;

}
form{
    text-align: left;
}

