
#all{
    background-color: #d9bfbf;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid cornflowerblue;
    
}
#all{
    text-align: center;
}
#header h1{
    color: red;
    margin: auto;
    width: 234px;


    background-color: yellow;
    
}
#title{
    border: 2px solid #cc0000;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 750px;
    background-color: #ccccff;
}

#pokemon1{
    width: 650px;
    border: 1.5px solid black;
    margin: auto;
    margin-bottom: 20px;
    
    
    
}
#pokemon2{
    width: 650px;
    border: 1.5px solid black;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
#pokemon3{
    width: 650px;
    border: 1.5px solid black;
    margin: auto;
    margin-top: 20px;
    
}
#pokemon1 h1{
    font-size: small;
    color:darkslateblue;
}
#pokemon2 h1{
    font-size: small;
    color: darkslateblue;
}
#pokemon3 h1{
    font-size: small;
    color: darkslateblue;
}
#all hr{
    
    width: 600px;
    border-color: black;
    background-color: black;

}
#pic{
    display: inline-block;
    margin-right: 100px;
    margin-top: 10px;
    

}
#check{
    text-align: left;
    margin-left: 15px;
    margin-bottom: 10px;
}
#select{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;

}
form{
    text-align: left;
}
#shipping h1{
    font-size: small;
    color: brown
}
#shipping form{
    text-align: right;
    display: inline-block;
}
#message{
    text-align: left;
    padding: 20px;
}
#messagebox{
    width: 300px;
    height: 60px;
}

